.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 14px 20px;
  background: #f97216;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-wrap: nowrap;
}

.button-icon {
  height: 14px;
}

.button-icon.left {
  order: -1;
}

.button-icon.right {
  order: 1;
}

.button:hover {
  background-color: #e65c00;
  color: white;
}

button:hover .button-icon {
  filter: brightness(0) invert(1);
}
